@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-awaited: #ff4800;
    --itens-color: #fff;
    --itens-color2: #202020;
    --background-color: #19191a;
    --backDivColor: #2b2b2b;
    --link-color: #0061FF;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 10px 10px;
    gap: 7px;
}

.emphasis {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--background-awaited);
    padding: 10px;
    gap: 15px;
    width: 700px;
    height: 150px;
    border-radius: 15px;
}

.emphasis > img {
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    border-radius: 15px;
}

.emphasis > h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: var(--itens-color2);
    opacity: 0.7;
    margin: 0;
}

.emphasis > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--itens-color2);
    opacity: 0.7;
    margin: 0;
}

.emphasis > h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    color: var(--itens-color2);
    margin: 0;
}

.tags {
    display: flex;
    padding: 7px 20px 0 20px;
    gap: 20px;
    justify-content: space-evenly;
}

.tags > button {
    padding: 5px;
    background-color: transparent;
    color: var(--itens-color);
    width: 100px;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.projects {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding: 7px;
    width: 250px;
    aspect-ratio: 2/1.3;
    border-radius: 10px;
    background-color: var(--backDivColor);
}

.projects > div > img {
    width: 240px;
    border-radius: 10px;
}

.projects > div > a {
    font-size: 0.7em;
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}

.projects > div > ul {
    flex-direction: row;
    display: flex;
    list-style: none;
}

.projects > div > ul > li {
    font-size: 0.7em;
    margin: 0 5px;
}

