@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --color-primary: #FF2100;
}

.container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
    height: 70%;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
}

.name {
    position: relative;
    z-index: 2;
    margin-left: 7%;
    cursor: default;
    font-family: "Orbitron", sans-serif;
    font-weight: normal;
    font-size: 5.5em;
}

.name::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100px;
    aspect-ratio: 1/1.6;
    left: -5px;
    top: 7px;
    border-radius: 7px;
    background: var(--color-primary);
}

img {
    width: 320px;
    height: 320px;   
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 10%;
    opacity: 0.2;
}

@media screen and (max-width: 780px) {
    .name {
        font-size: 11vw;
    }
    
    .name::before {
        width: 13vw;
    }
}
@media screen and (max-width: 400px) {
    img {
        left: 7%;
    }
}

@media screen and (max-width: 300px) {
    .name {
        font-size: 35px;
    }

    .name::before {
        width: 45px;
    }
}