---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<main class="flex-1 bg-black h-full z-10 w-full text-white">
		<Card/>
	</main>
</Layout>

