---
const { text } = Astro.props;
---

<div class="flex justify-center items-center z-10">
    <div class="shiny-text text-center" style={{ animationDuration: 5 }}>
        {text}
    </div>
</div>

<style>
    .shiny-text {
        color: #cacacaa4;
        background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 50%,
            rgb(255, 255, 255) 65%,
            rgba(255, 255, 255, 0) 70%
        );
        background-size: 200% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        display: inline-block;
        animation: shine 5s linear infinite;
    }

    @keyframes shine {
        0% {
            background-position: 100%;
        }
        100% {
            background-position: -100%;
        }
    }
</style>