---
import background from '../assets/background.svg';
---

<div id="container">
	<img class="fixed top-0 left-0 w-full h-full z-1 filter: blur-3xl" src={background.src} alt="" fetchpriority="high" />
	<main class="flex-1">
		<section id="hero">
			
		</section>
	</main>
</div>

<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
