---
import background from '../assets/background.svg';
import banner from '../assets/banner.svg';
---

<div id="container">
	<img class="fixed top-0 left-0 w-full h-full z-1 filter: blur-3xl" src={background.src} alt="" fetchpriority="high" />
	<main class="flex-1">
		<section class="flex flex-col h-full items-center">
			<img class="p-2 z-10 w-40" src={banner.src} alt="Label portifolio" />
			<div class="flex">
				<h1 class="p-2">
					
				</h1>
			</div>
		</section>
	</main>
</div>

<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
