---
import background from '../assets/background.svg';
import banner from '../assets/banner.svg';
import FuzzyText from './FuzzyText.astro';
import RotateText from './RotateText.astro';
import DecriptedText from './DecriptedText.astro';
---

<div id="container">
	<main class="flex-1 z-10 h-full">
		<section class="flex flex-col h-full items-center">
			<img class="p-2 z-10 w-40" src={banner.src} alt="Label portifolio" />
			<div class="flex flex-col justify-center items-center h-full ">
				<FuzzyText text="Desenvolvedor"/>
				<RotateText texts={["Front End", "Back End", "Mobile", "Full Stack"]}/>
				<DecriptedText text="Vitor Gomes"/>
			</div>
		</section>
	</main>
</div>

<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		z-index: 10;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
