@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-primary: #0AFF00;
    --color-itens: #FFFFFF;
    --color-itens-two: #b6b6b69c;
    --background-divs: #1e1e20;
}

.light-mode:root {
    --color-primary: #0061FF;
    --color-itens: #000000;
    --color-itens-two: #778a789c;
    --background-divs: #f0f0f0;
}

main {
    gap: 20px;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: calc(100% - 20px);
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    font-family: "Space Mono", sans-serif;
    font-size: 1em;
    width: calc(90% - 50px);
    padding: 0 20px 0 10px;
    gap: 15px;
}

.intro > h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.4em;
    color: var(--color-primary);
}

.intro > p {
    font-size: 1em;
    color: var(--color-itens);
    padding: 0 20px 0 3px;
    line-break: auto;
    max-width: 700px;
}

.plus-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px 0;
}

ul {
    list-style-type: none;
}

.plus-info > div > ul > li > span {
    font-weight: bold;
    color: var(--color-itens-two);
}

.details {
    display: flex;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

.details > i {
    color: var(--color-itens-two);
    font-size: 2.4em;
}

aside {
    height: calc(100% - 20px);
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

aside > div {
    display: flex;
    flex-direction: column;
    background-color: var(--background-divs);
    padding: 10px;
    margin: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1.7/1;
    font-weight: 500;
    font-size: 0.9em;
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 40px;
    background-color: transparent;
}

.down > a {
    width: 150px;
}

.down :hover {
    color: var(--color-primary);
}