@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #19191a;
    --color-itens: #FFFFFF;
    --hover-color: #FF2100;
}

.light-mode:root {
    --background-color: #FFFFFF;
    --color-itens: #000000;
    --hover-color: #5904c7;
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--color-itens);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
}

.logo {
    font-family: "Archivo Black", sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    font-style: normal;
    text-wrap: nowrap;
    cursor: default;
}

nav {
    display: flex;
    background-color: transparent;
    padding: 7px 20px;
    gap: 30px;
}

a {
    display: flex;
    width: 70px;
    justify-content: center;
    text-decoration: none;
    color: var(--color-itens);
}

a:hover {
    color: var(--hover-color);
}

main {
    display: flex;
    width: calc(100% - 20px);
    flex-grow: 1;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 220px);
    background-color: transparent;
    padding: 10px 110px;
}

i {
    color: var(--color-itens);
    font-size: 1.9em;
}

.social {
    display: flex;
    margin-left: 7vw;
}