@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --blue-sat: #2100DB;
    --blue-strong: #0F0061;
    --blue-light: #0061FF;
    --yellow: #FFDF00;
    --green-hack: #0AFF00;
    --red-vk: #FF2100;
    --black-ground: #19191a;
    --blue-punk: #15008A;
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black-ground);
    color: white;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--black-ground);
    flex-direction: row;
    flex-wrap: wrap;     
}

.logo {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    text-wrap: nowrap;
    cursor: default;
}

.navigate {
    background-color: transparent;
    width: 70px;
    padding: 7px;
    border: none;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--red-vk);
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

main {
    display: flex;
    width: calc(100% - 20px);
    flex-grow: 1;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 220px);
    background-color: transparent;
    padding: 10px 110px;
}

i {
    color: white;
    font-size: 30px;
}

.social {
    display: flex;
    gap: 22px;
    margin-left: 7vw;
}