@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --blue-sat: #2100DB;
    --blue-strong: #0F0061;
    --blue-light: #0061FF;
    --yellow: #FFDF00;
    --green-hack: #0AFF00;
    --red-vk: #FF2100;
    --black-ground: #19191a;
    --blue-punk: #15008A;
}

.hard-section {
    height: calc(100% - 10px);
    width: calc(100vw - 60px);
    padding: 5px;
    display: grid;
    grid-template-columns: 1.5fr 2.2fr 1.1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}

.grid-item {
    padding: 0 25px;
    border-radius: 15px;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.area1 {
    grid-area: 1 / 1 / 3 / 1;
}

.area2 {
    grid-area: 3 / 1 / 5 / 1;   
}

.area3 {
    grid-area: 1 / 2 / 4 / 2; 
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.area4 {
    grid-area: 1 / 3 / 2 / 3; 
}

.area5 {
    grid-area: 2 / 3 / 5 / 3;
}

.area7 {
    grid-area: 4 / 2 / 4 / 2; 
}

.grid-item > h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
    color: white;
    text-align: flex-start;
    margin-left: 15px;
}

.grid-item > span {
    width: 140px;
    height: 5px;
    margin-left: 15px;
    background-color: var(--red-vk);
    margin-top: -20px;
}

.grid-item > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px;
    gap: 5px;
    margin: 0 25px 15px 0;
}

.grid-item > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Space Mono", monospace;
    color: white;
    width: 100%;
}

.grid-item > p {
    font-family: "Space Mono", monospace;
    font-size: 0.9em;
    margin: 12px 20px 15px 16px;
}

.grid-item > ul > li > img {
    width: 30px;
    height: 30px;
}

.grid-item > h2, h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: flex-start;
    margin-left: 15px;
}

.grid-item > h3 {
    font-size: 1em;
    margin-top: -10px;
}

.ufg {
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: -1;
    margin-left: 20%;
    opacity: 0.9;
}

.skill {
    font-size: 0.9em;
}

.resume {
    width: 60%;
    padding: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0 0 7px;
    background-color: rgba(0, 0, 0, 0.068);
}

aside > p {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
    color: rgba(127, 127, 127, 0.445);
}

.dados {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.name {
    font-size: 1.2em;
    grid-area: 1 / 2 / 1 / 2;
    margin: 5px 0 0 0;
}

.local {
    font-size: 0.8em;
    grid-area: 2 / 2 / 2 / 2;
}

.email {
    font-size: 0.8em;
    grid-area: 3 / 2 / 3 / 2;
}

.phone {
    font-size: 0.8em;
    grid-area: 4 / 2 / 4 / 2;
}

.dados > p {
    margin: 0;
    
}

.dados > img {
    grid-area: 1 / 1 / 5 / 1;
    width: 100px;
    height: 120px;
    border-radius: 50%;
    margin: 5px 10px 0 0;
}

aside > button {
    background-color: transparent;
    color: rgba(177, 177, 177, 0.522);
    border: none;
    padding: 5px;
    font-family: "Space Mono", monospace;
    font-size: 0.8em;
    cursor: pointer;
    margin-bottom: 10px;
}

aside > button > a {
    text-decoration: none;
    color: rgba(177, 177, 177, 0.522);
}